<?xml version="1.0"?>
<launch>   
  <arg name="name" default="eklavya" />
  <arg name="drive_speed" default="3.0" />
  <arg name="turn_speed" default="3.0" />
  <arg name="run_speed" default="6.0" />
  <arg name="cmd_topic" default="cmd_vel" />
     
  <!-- <group ns="$(arg name)"> -->
    <node pkg="eklavya_teleop" type="keyboard_teleop" name="ekalvya_keyboard" output="screen">
      <param name="walk_vel" value="$(arg drive_speed)" />
      <param name="run_vel" value="$(arg turn_speed)" />
      <param name="yaw_rate" value="$(arg run_speed)" />
      <remap from="cmd_vel" to="$(arg cmd_topic)" />
    </node>
  <!-- </group> -->
</launch>

