<?xml version="1.0"?>
<robot name="gpssensor_gazebo" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="eklavya_sim_gpssensor" params="name">
    <gazebo>
      <plugin name="hector_gazebo_ros_${name}_controller" filename="libeklavya_tudarmstadt_gps_plugin.so">
	    <always_on>true</always_on>
        <updateRate>5.0</updateRate>
	    <frameId>${name}_link</frameId>
        <!-- <bodyName>${name}_link</bodyName> -->
        <bodyName>${name}_link</bodyName>
        <topicName>eklavya/${name}/fix</topicName>
        <referenceLatitude>22.3210431</referenceLatitude>
        <referenceLongitude>87.3112864</referenceLongitude>
        <referenceHeading>0.0</referenceHeading>      
        <velocityTopicName>${name}/fix_velocity</velocityTopicName>
        <drift>5.0 5.0 5.0</drift>
        <gaussianNoise>0.1 0.1 0.1</gaussianNoise>
        <velocityDrift>0 0 0</velocityDrift>
        <velocityGaussianNoise>0.05 0.05 0.05</velocityGaussianNoise>
      </plugin>

    </gazebo>
  </xacro:macro>
</robot>
