<?xml version="1.0"?>
<!--
Copyright (c) 2014, Clearpath Robotics
All rights reserved.
Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:
    * Redistributions of source code must retain the above copyright
      notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright
      notice, this list of conditions and the following disclaimer in the
      documentation and/or other materials provided with the distribution.
    * Neither the name of Clearpath Robotics nor the
      names of its contributors may be used to endorse or promote products
      derived from this software without specific prior written permission.
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS BE LIABLE FOR ANY
DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
This program is a launch file for spawning the Eklavya 2015 robot model in Gazebo
-->

<launch>
    <arg name="gps_enabled" default="true"/>
    <arg name="imu_enabled" default="true"/>
    <arg name="front_laser" default="true"/>
    <arg name="camera_enabled" default="true" />
    <arg name="pos_x" default="0.0"/>
    <arg name="pos_y" default="0.0"/>
    <arg name="pos_z" default="0.0"/>
    <arg name="rot_r" default="0.0"/>
    <arg name="rot_p" default="0.0"/>
    <arg name="rot_y" default="0.0"/>
    
    <!-- Send the Eklavya Robot URDF/XACRO to param server -->
    <include file="$(find eklavya_description)/launch/description.launch">
      <arg name="gps_enabled" value="$(arg gps_enabled)"/>
      <arg name="imu_enabled" value="$(arg imu_enabled)"/>
      <arg name="front_laser" value="$(arg front_laser)"/>
      <arg name="camera_enabled" value="$(arg camera_enabled)"/>
    </include>
    <!-- Spawn robot in gazebo -->
    <node name="spawn_eklavya_model" pkg="gazebo_ros" type="spawn_model" 
          args="$(optenv ROBOT_INITIAL_POSE) -unpause -urdf -param robot_description -model mobile_base
          -x $(arg pos_x)
          -y $(arg pos_y)
          -z $(arg pos_z)
          -R $(arg rot_r)
          -P $(arg rot_p)
          -Y $(arg rot_y)"/>
          
          
    <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="screen">
     <param name="output_frame" value="odom"/>
     <param name="freq" value="30.0"/>
     <param name="debug" value="true"/>
     <param name="sensor_timeout" value="1.0"/>
     <param name="odom_used" value="true"/>
     <param name="imu_used" value="false"/>
     <param name="vo_used" value="false"/>
     <param name="gps_used" value="false"/>
     <param name="imu_absolute" value="false"/>
     
     <remap from="odom" to="ground_truth/odom" /> 
  </node> 
  <!--
  <node pkg="tf" type="static_transform_publisher" name="odom2world_broadcaster" args="0 0 0 0 0 0  /odom /world 10"/>
  <node pkg="tf" type="static_transform_publisher" name="odom2map_broadcaster" args="0 0 0 0 0 0  /odom /map 10"/>
  -->
</launch>