<?xml version="1.0"?>
<launch>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find eklavya_navigation)/maps/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <include file="$(find eklavya_navigation)/launch/amcl.launch" />

  <!--- Run Move Base -->
  <include file="$(find eklavya_navigation)/launch/move_base.launch" />

</launch>
