<?xml version="1.0"?>
<robot name="sensor_imu" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find eklavya5_description)/sensors/imusensor_gazebo.urdf.xacro"/>
 
  <xacro:macro name="sensor_imu" params="parent name colour imu_px imu_py imu_pz imu_or imu_op imu_oy">
    <link name="${name}_link">
      <inertial>
        <mass value="0.01"/>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.025 0.025 0.01"/>
        </geometry>
	<material name="${colour}" />
      </visual>
<!--
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.025 0.025 0.01"/>
        </geometry>
      </collision>
-->
    </link>
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <origin xyz="${imu_px} ${imu_py} ${imu_pz}" rpy="${imu_or} ${imu_op} ${imu_oy}"/>
    </joint>

    <!-- IMU sensor for simulation -->
    <xacro:eklavya_sim_imusensor name="${name}" />
  </xacro:macro>

</robot>
