<?xml version="1.0"?>
<robot name="sensor_kinect" xmlns:xacro="http://ros.org/wiki/xacro">

<!--
  <property name="cam_px" value="-0.087" />
  <property name="cam_py" value="-0.0125" />
  <property name="cam_pz" value="0.2870" />
  <property name="cam_or" value="0" />
  <property name="cam_op" value="0" />
  <property name="cam_oy" value="0" />
-->

  <xacro:include filename="$(find eklavya_description)/urdf/sensors/3dsensor_gazebo.urdf.xacro"/>
  
  <xacro:macro name="sensor_kinect" params="name parent cam_px cam_py cam_pz cam_or cam_op cam_oy">
    <joint name="${name}_joint" type="fixed">
      <origin xyz="${cam_px} ${cam_py} ${cam_pz - 0.015}" rpy="${cam_or} ${cam_op} ${cam_oy}"/>
      <parent link="${parent}"/>
      <child link="${name}_link" />
    </joint>

    <link name="${name}_link">
      <inertial>
        <mass value="0.001" />
        <origin xyz="0 0 0.0" />
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
                 iyy="0.0001" iyz="0.0"
                 izz="0.0001" />
      </inertial>
      <visual>
        <origin xyz="0 0 0.015" rpy="0 0 ${M_PI/2}"/>
          <geometry>
            <mesh filename="package://eklavya_description/meshes/sensors/kinect.dae"/>
          </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <geometry>
          <box size="0.07271 0.27794 0.073"/>
        </geometry>
      </collision>
    </link>

    <joint name="${name}_rgb_joint" type="fixed">
      <origin xyz="0.031 -0.0127 0.031" rpy="0 0 0"/>
      <parent link="${name}_link"/>
      <child link="${name}_rgb_frame"/>
    </joint>  
  
    <link name="${name}_rgb_frame">
      <inertial>
        <mass value="0.001" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
                 iyy="0.0001" iyz="0.0"
                 izz="0.0001" />
      </inertial>
    </link>

    <joint name="${name}_rgb_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
      <parent link="${name}_rgb_frame" />
      <child link="${name}_rgb_optical_frame" />
    </joint>

    <link name="${name}_rgb_optical_frame">
      <inertial>
        <mass value="0.001" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
                 iyy="0.0001" iyz="0.0"
                 izz="0.0001" />
      </inertial>
    </link>
	  
  <!-- The fixed joints & links below are usually published by static_transformers launched by the OpenNi launch files. However, for Gazebo simulation we need them, so we add them here.
       (Hence, don't publish them additionally!) -->
  <joint name="${name}_depth_joint" type="fixed">
    <origin xyz="0.031 +0.0127 0.031" rpy="0 0 0" />
    <parent link="${name}_link" />
    <child link="${name}_depth_frame" />
  </joint>

  <link name="${name}_depth_frame">
    <inertial>
      <mass value="0.001" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
               iyy="0.0001" iyz="0.0"
               izz="0.0001" />
    </inertial>
  </link>

  <joint name="${name}_depth_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
    <parent link="${name}_depth_frame" />
    <child link="${name}_depth_optical_frame" />
  </joint>

  <link name="${name}_depth_optical_frame">
    <inertial>
      <mass value="0.001" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
               iyy="0.0001" iyz="0.0"
               izz="0.0001" />
    </inertial>
  </link>
	
  <!-- Kinect sensor for simulation -->
  <eklavya_sim_3dsensor name="${name}" />
  </xacro:macro>
</robot>
