<?xml version="1.0"?>
<robot name="multicamera_gazebo" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="eklavya_sim_multicamera" params="name baseline">
    <gazebo reference="${name}_link">
      <sensor type="multicamera" name="${name}">
        <update_rate>30.0</update_rate>
        <camera name="left">
          <pose>0.030 ${baseline/2.0} 0 0 0 0</pose>
          <!-- <horizontal_fov>1.3962634</horizontal_fov> -->
          <horizontal_fov>${3.1415926535897931/2.0}</horizontal_fov>
          <image>
            <width>640</width>
            <height>800</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <camera name="right">
          <pose>0.030 ${-baseline/2.0} 0 0 0 0</pose>
          <!-- <horizontal_fov>1.3962634</horizontal_fov> -->
          <horizontal_fov>${3.1415926535897931/2.0}</horizontal_fov>
          <image>
            <width>640</width>
            <height>800</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name="gazebo_ros_${name}_controller" filename="libgazebo_ros_multicamera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>30.0</updateRate>
          <cameraName>${name}</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>${name}_info</cameraInfoTopicName>
          <frameName>left_camera_frame</frameName>
          <hackBaseline>${baseline}</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
