<?xml version="1.0"?>

<robot name="sensor_laser" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find eklavya_description)/urdf/sensors/sick_lms100_laser.gazebo.xacro" />

  <xacro:macro name="sick_lms100_laser" params="name parent laser_px laser_py laser_pz laser_or laser_op laser_oy">
    <joint name="${name}_joint" type="fixed">
      <!-- <axis xyz="0 1 0" /> -->
      <origin xyz="${laser_px} ${laser_py} ${laser_pz}" rpy="${laser_or} ${laser_op} ${laser_oy}"/>
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>
    <link name="${name}_link" type="laser">
      <inertial>
        <mass value="1.1" />
        <origin xyz="0 0 -0.05" rpy="3.1415926535897931 0 0" />
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001" />
      </inertial>
      <collision>
        <origin xyz="0 0 -0.05" rpy="3.1415926535897931 0 0"/>
        <geometry>
          <box size="0.122 0.104 0.175"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 -0.05" rpy="3.1415926535897931 0 0"/>
        <geometry>
          <mesh filename="package://eklavya_description/meshes/sensors/sick_lms100.dae"/>
        </geometry>
      </visual>
    </link>
    <!-- gazebo extensions -->
    <xacro:sick_lms100_laser_gazebo name="${name}" />
  </xacro:macro>
</robot>
